<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <%= render '/head.*' %>
    <link rel="canonical" href="<%= @config[:base_url] %>/">
  </head>
  <body class="landing">
    <%= render '/gtm.*' %>
    <%= render '/header.*' %>
    <%= yield %>
    <% if production? and ENV['CI_COMMIT_REF_NAME'] == ENV['CI_DEFAULT_BRANCH'] %>
    <%# Add analytics only in production %>
      <%= render '/analytics.*' %>
    <% end %>
    <%= render '/schema-microdata.*' %>
    <script src="<%= @items['/frontend/header/index.*'].path %>"></script>
    <script src="<%= @items['/frontend/shared/global_imports.*'].path %>"></script>
    <script src="<%= @items['/frontend/default/default.*'].path %>"></script>
    <script src="<%= @items['/assets/javascripts/badges.*'].path %>"></script>
    <% if @config[:search_backend] == "algolia" %>
    <script src="<%= @items['/frontend/search/docsearch.*'].path %>"></script>
    <% else %>
    <script src="<%= @items['/frontend/search/lunrsearch.*'].path %>"></script>
    <% end %>
  </body>
</html>
