<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en-US" lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <%= render '/head.*' %>
    <link rel="canonical" href="<%= @config[:base_url] %>/search/">
    <% if @config[:search_backend] == "algolia" %>
    <link rel="stylesheet" href="/frontend/search/instantsearch.css">
    <script src="<%= @items['/frontend/search/instantsearch.*'].path %>"></script>
    <% else %>
    <script src="/assets/javascripts/lunr.min.js"></script>
    <script src="<%= @items['/frontend/search/lunrsearch.*'].path %>"></script>
    <% end %>
  </head>
  <body>
    <%= render '/gtm.*' %>
    <%= render '/header.*' %>
    <section class="gl-docs container pt-5">
      <div class="row">
        <div class="col-12 mt-5">
          <div class="main class pl-lg-4">
            <% if @config[:search_backend] == "algolia" %>
            <div class="js-instantsearch"></div>
            <% else %>
            <div class="js-lunrsearch"></div>
            <% end %>
            <%= render '/footer.*' %>
          </div>
        </div>
      </div>
    </section>
    <script src="<%= @items['/frontend/shared/global_imports.*'].path %>"></script>
    <script src="<%= @items['/frontend/header/index.*'].path %>"></script>

    <% if production? %>
    <%# Add analytics only in production %>
      <%= render '/analytics.*' %>
    <% end %>
    <%= render '/schema-microdata.*' %>
  </body>
</html>
